*,
::before,
::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

body {
  background-color: var(--colorWhite);
  font-family: var(--defaultFontFamily);
  font-size: var(--defaultFontSize);
  font-weight: 400;
  color: var(--colorGray700);
  line-height: 2.6rem;
}

#left-column{
  background-color: var(--colorGray100);
  border-right: 1px solid var(--colorGray300);
}

#right-column{
  padding: var(--l);
  max-width: 100%;
}

.body{
  max-width: 940px;
  padding: 0;
}


@media (max-width: 768px) {
  #right-column{
    margin-top:64px;
  }

  #left-column{
    position:fixed;
    margin-top:0;
    z-index:2;
    top:64px;
  }

  .body{
    max-width: 100%;
    padding: 0;
  }
}
