{% extends "!layout.html" %}

{%- block htmltitle %}
  <script src="https://unpkg.com/lucide@latest"></script>
  {{ super() }}
{%- endblock %}

<!-- Page content header -->
{% block breadcrumbs %}
  <div class="breadcrumbs-wrapper">
    {{ super() }}
    <ul class="breadcrumbs-buttons">
      <li><a href="https://github.com/openfisca"><button class="button-secondary button-small"><i icon-name="github"></i> GitHub</button></a></li>
      <li><a href="https://openfisca.org/"><button class="button-secondary button-small"><i icon-name="home"></i> OpenFisca</button></a></li>
    </ul>
  </div>
{%- endblock %}

<!-- Page content footer -->
{%- block bottom_rel_links %}
{%- endblock %}

{%- block footer %}
  {{ super() }}
  <script>
    lucide.createIcons();
  </script>
{%- endblock %}
