{% extends "!layout.html" %}

{%- block htmltitle %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <script src="static/jquery-2.2.4.min.js"></script>
  <script src="static/scripts.js" charset="utf-8"></script>

  {{ super() }}
{%- endblock %}

<!-- Page content header -->
{% block breadcrumbs %}
  <ul class="buttons-header">
    <li><a class="button-appearance" href="https://media.readthedocs.org/pdf/openfisca/latest/openfisca.pdf"><i class="fas fa-download"></i> Documentation</a>
    <li><a class="button-appearance" href="https://github.com/openfisca"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a class="button-appearance" href="https://openfisca.org/"><i class="fas fa-home"></i> OpenFisca</a></li>
  </ul>
  {{ super() }}
{%- endblock %}


<!-- Page content footer -->
{%- block bottom_rel_links %}
  <div class="feedback-container">
    <a href="#" class="feedback-trigger noSelect">All good?  
        <img class="open" src="https://www.svgrepo.com/show/42915/hello-speech-bubble-handmade-chatting-symbol.svg" />
        <img class="close" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/OOjs_UI_icon_close-ltr-progressive.svg" />
    </a>
    <div class="feedback-pages">
        <div class="feedback-page content" data-pagename="one">
            <h3 class="content-title">How do you like this page?</h3>
            <ul class="smile">
              <li><a onclick="_paq.push(['trackEvent', 'Feedback', 'Happy']);" alt="happy"><img class="smile" src="https://www.svgrepo.com/show/115678/smile-hand-drawn-emoticon.svg" /></li></a>
              
              <li><a onclick="_paq.push(['trackEvent', 'Feedback', 'Notsohappy']);" alt="not so happy"><img class="smile" src="https://www.svgrepo.com/show/200934/nerd.svg" /></a></li>
            </ul>
            <textarea class="content-textarea" placeholder="Do you want to give us your feedback or describe an issue?"></textarea>
            <a href="#" class="content-submit noSelect" data-go-to-page="two">Next</a>
        </div>
        <div class="feedback-page content" data-pagename="two">
            <h1 class="content-title">Your email address</h1>
            <input class="content-input" type="text" name="name" value="" placeholder="Name" maxlength="255">
            <input class="content-input required" type="email" name="email" value="" placeholder="Email address" maxlength="255">
            <a href="#" class="content-backlink noSelect" data-go-to-page="one">← Edit Message</a>
            <a href="#" class="content-submit noSelect" data-go-to-page="three">Send</a>
        </div>
        <div class="feedback-page content" data-pagename="three">
            <h1 class="content-title">Thanks! We'll be in touch soon!</h1>
            <a href="#" class="content-submit noSelect"></a>
        </div>
    </div>
</div>
  
{%- endblock %}
